html {
    font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  vertical-align: middle;
  background-image: url("./pattern.jpeg")
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-weight: bold;
  color: blue
}
